# YAML
*.yml

# *.png

# Python
**/__pycache__/

# Chess engine files
/engines/*
!/engines/README.md

# Logs and generated data
lichess_bot_auto_logs/*
TEMP/*

# Editor configs
.vscode/
.vs/
.idea\
.idea/
*.user

# Build artifacts
build/
**/CMakeFiles/
**/CMakeCache.txt
*.o
*.obj
*.exe
*.dll
*.so
*.a
*.lib

*.log
*.pgn
*.txt

# Temporary / lock files
.~lock.*.ods#
**/.cursor
config.yml~
*.yml.un~
*.un~
.config.yml.un~
